{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}

    <div>
        <h1>{{ annonce.name }}</h1>
        <nav>
            <ul>
                <li>Nom Annonce : {{ annonce.name }}</li>
                <li>Description : {{ annonce.description }}</li>
                <li>Prix : {{ annonce.price }}</li>
                <li>Commentaire : {{commentary.text}}</li>
                <a href="{{ path('app_annonce', {"annonce": annonce.id}) }}">Retour</a>
            </ul>
        </nav>
    </div>
{% endblock %}
