{% extends 'base.html.twig' %}

{% block title %}Hello addressController!{% endblock %}

{% block body %}

    <div>
        <h1>{{ address.name }}</h1>
        <nav>
            <a href="{{ path('app_address_create', {"address": address.id}) }}">Créer un address</a>
            <a href="{{ path('app_address_update', {"address": address.id}) }}">Modifier</a>
            <form action="{{ path('app_address_delete', {"address": address.id}) }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
                <button type="submit">Supprimer</button>
            </form>
        </nav>
    </div>
{% endblock %}
